* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: #103349;
    color: #FFFFFF;
}


.navbar {
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
}
.texto-nav {
    cursor: pointer;
    display: inline-block;
}

.nav-left {
    position: relative;
    display: flex;  
}


.nav-left img {
    width: 30px; 
    
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7BB8C8;
    margin: 0 5vw;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;

}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}


.comentarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.comentarios-container{
    display: flex;
    margin-top: 20px;
}

.coments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.menu-inferior {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
  }
  .menu-inferior img {
    width: 40px;
  }
  .menu-inferior a {
    
    text-decoration: none;
  }


